.all {
	width: 1024px;/*Largura*/
	height: 650px;/*Altura*/
	margin: auto;  /*Pra não deixar tudo desorganizado, concentrar automatico, alinhar automaticamente, sem usar margin's*/
	background: #ffffff;
	box-shadow: 0 0 1px 1px rgba(140,140,140,.6); 	/*Código ->Sombreamento<- da caixa do meio*/ 
	padding: 0 20px;
}
	/*BOTÕES*/
#bt0{
		background: #337ab7;
		color: #fff;
		font-size: 17px;
		font-family: 'Helvetica Neue', sans-serif;
	    margin-top: 30px;
	    margin-left: 600px;
	    width: 100px;
		height:40px;
		border-radius: 9px;
}
#bt0:hover{
	background-color: #23527c;
}

#bt1{
		background: #337ab7;
		color: #fff;
		font-size: 17px;
		font-family: 'Helvetica Neue', sans-serif;
	    margin-top: -39px;
	    margin-left: 490px;
	    width: 100px;
		height:40px;
		border-radius: 9px;
}
#bt1:hover{
	background-color: #23527c;
}

/*FIM DOS BOTÕES*/
#guia {
margin-left:170px;
margin-top:120px; 
}

.artigos {
	vertical-align: top;
	display: inline-block;
	position: absolute;
	
	margin: auto;
	background-color:;
	margin-top: 180px;
}
.artigos fieldset {
	color:#2c82b7;
	padding: 2px 5px;
	font-family: 'Helvetica Neue', sans-serif, comic sans;
	font-size: 30px;
	margin: 30px 50px;
	width: 400px;
	height: 300px;
	vertical-align: top;
	border: 0px;
	border-color:orange; 
}
