.all {
	width: 1024px;/*Tamanho*/
	height:900px;/*Tamanho*/
	margin: auto;  /*Pra não deixar tudo desorganizado, concentrar automatico, alinhar automaticamente, sem usar margin's*/
	background: #ffffff;
	box-shadow: 0 0 1px 1px rgba(140,140,140,.6); 	/*Código ->Sombreamento<- da caixa do meio*/ 
	padding: 0 20px;
}
#h1{
color: orange;
font-size: 40px;
font-family: 'Helvetica Neue', sans-serif, comic sans;
}
#h2{
color:black;
font-size:17px;
font-family: 'Helvetica Neue', sans-serif, comic sans;
}
#hr{
width:70%;
}
#guia {
margin-left:170px;
margin-top:120px; 
}
.artigos fieldset {
	color:#2c82b7;
	padding: 2px 5px;
	font-family: 'Helvetica Neue', sans-serif, comic sans;
	font-size: 20px;
	margin: 30px 50px;
	width: 300px;
	height: 300px;
	vertical-align: top;
	border: 0px;
	margin-top:300px;
	margin-left:450px;
	}
	fieldset{
position: absolute;
color: #f47721;
margin-top: -180px;
margin-left: 405px;
border: 0px;
}
	/*BOTÕES*/
#bt0{
		position: relative;
		background: #337ab7;
		color: #fff;
		font-size: 17px;
		font-family: 'Helvetica Neue', sans-serif;
	    margin-top: 100px;
	    margin-left: 920px;
	    width: 100px;
		height:40px;
		border-radius: 9px;
}
#bt0:hover{
	background-color: #23527c;
}